<mat-card>
    <mat-card-header>
        <mat-card-title>Current Measurement</mat-card-title>
    </mat-card-header>    
    <ng-container *ngIf="measurement$ | async; let measurement">
        <mat-grid-list cols="3" rowHeight="3:1">
            <mat-grid-tile>Device Serial Number</mat-grid-tile>
            <mat-grid-tile>Current HR</mat-grid-tile>
            <mat-grid-tile>Current HR</mat-grid-tile>
            <mat-grid-tile>{{measurement.SerialNumber}}</mat-grid-tile>
            <mat-grid-tile>{{measurement.HR}}</mat-grid-tile>
            <mat-grid-tile>{{measurement.RR}}</mat-grid-tile>
          </mat-grid-list>       
    </ng-container>               
</mat-card>
